In [ ]:
# pylint: disable=missing-docstring


def sudoku_validator(grid):
    zero_to_nine = [1, 2, 3, 4, 5, 6, 7, 8, 9]
    for i in range(9):
        if grid[i].sort() != zero_to_nine:
        return False
    for j in range(9):
        vertical_list = []
        for i in range(9):
            vertical_list.append(grid[i][j])
        vertical_list.sort()
        print(vertical_list)
        if vertical_list != zero_to_nine:
            return False
    for 


    return True
        

   # for x_cord in range(0,9,3):
    #    for y_cord in range(0,9,3):
     #       if valid_line(square_sudoku(grid, x_cord, y_cord)) is False:
      #          return False
    #return True


sudoku_validator([
    [7,8,4,  1,5,9,  3,2,6],
    [5,3,9,  6,7,2,  8,4,1],
    [6,1,2,  4,3,8,  7,5,9],

    [9,2,8,  7,1,5,  4,6,3],
    [3,5,7,  8,4,6,  1,9,2],
    [4,6,1,  9,2,3,  5,8,7],

    [8,7,6,  3,9,4,  2,1,5],
    [2,4,3,  5,6,1,  9,7,8],
    [1,9,5,  2,8,7,  6,3,4]
]
)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def calculator(num1, operator, num2):
    """calculates simple arithmetic operations."""
    if operator == '+':
        return int(num1) + int(num2)
    if operator == '-':
        return int(num1) - int(num2)
    if operator == "/":
        return int(num1) / int(num2)
    if operator == '*':
        return int(num1) * int(num2)

calculator('4', '+', '5')

9

In [ ]:
def sum3(first_number, second_number, third_number):
    """
    Takes three numbers and returns the sum of those numbers
    """
    new_list =[]
    new_list.append(first_number)
    new_list.append(second_number)
    new_list.append(third_number)
    print(new_list)
    return sum(new_list)

In [ ]:
# Richest Student 

class Student:
    def __init__(self, name, fives, tens, twenties):
        self.name = name
        self.fives = fives
        self.tens = tens
        self.twenties = twenties
        self.total = [self.fives*5, self.tens*10, self.twenties*20]

    def wealth(self):
        return print(sum(self.total))

    def compare(self, student):
        total_other = [student.fives*5, student.tens*10, student.twenties*20]
        if sum(self.total) > sum(total_other):
            return self.name
        else:
            return student.name


a = Student('Amy', 5, 6, 7)
b = Student('Bilbo', 3, 4, 5)
a.wealth()
b.wealth()
a.compare(b)

225
155

'Amy'

In [ ]:
class Cat:
    def __init__(self):
        self.age = 1
        self.color = 'brown'
        self.weight = 5

    def age_10_years():
        self.age = 10

    def gain_weight():
        self.weight = 20

    def turn_grey():
        self.color = 'grey'

In [ ]:
import random

prob_death = random.random() > 0.5


class OrangeTree:
    
    def __init__(self, age, height, fruits, dead):
        self.age = age
        self.height = height
        self.fruits = fruits
        self.dead = dead


    def one_year_passes(self):
        
        self.age = self.age + 1

        if self.age >= 50:
            if prob_death > 0.9:
                self.dead = True

        elif self.dead == False:

            if self.age <= 10:
                self.height = self.height + 1 
            
            elif self.age >= 50:
                prob_death = prob_death + 0.1
                print(prob_death)

            elif self.age >= 100:
                self.dead = True
                print(self.dead) 
        
            elif self.age > 5 and self.age <= 10:
                self.fruits = 100
                print(self.fruits)
    
            elif self.age > 10 and self.age < 15:
                self.fruits = 200
                print(self.fruits)
    
            elif self.age <= 10:
                self.height += 1
                print(self.height)
            
            return 
        
        elif self.dead == True:
            return f'Tree is dead,'
        
    def pick_a_fruit(picked):
        self.fruit = self.fruit - picked
        return f'You picked {picked} fruits. {self.fruit} remain.'

Tree1 = OrangeTree(20, 30, 30, False)
Tree1.one_year_passes()

In [ ]:
#Orange Tree

import random

prob_death = random.random()
print(prob_death)

class OrangeTree:
    def __init__(self, age, height, fruits, dead):
        self.age = age
        self.height = height
        self.fruits = fruits
        self.dead = dead
    
    #Instance Methods:
    count = 0

    def one_year_passes(self):
        
        count += 1

        self.age = self.age + 1

        if self.age >= 50:
            if prob_death > 0.9:
                self.dead = False

        elif self.dead == True:

            if count <= 10:
                self.height = self.height + 1 
            
            elif self.age >= 50:
                prob_death = prob_death + 0.1

            elif self.age >= 100:
                self.dead = True 
        
            elif self.age > 5 and self.age <= 10:
                self.fruits = 100
    
            elif self.age > 10 and self.age < 15:
                self.fruits = 200
    
            elif self.age <= 10:
                self.height += 1
        
        elif self.dead == False:
            return f'Tree is dead,'



        

        
    def pick_a_fruit(picked):
        self.fruit = self.fruit - picked
        return f'You picked {picked} fruits. {self.fruit} remain.'

In [ ]:
#Potion Class 101

class Potion:
    def __init__(self, color, volume):
        pass
    
    def mix(self, other):
        pass

In [ ]:
#User class for Banking System

class User(object):
    def __init__(self, name, balance, checking_account):
        self.name = name
        self.balance = balance
        self.checking_account = checking_account
    
    #Instance Methods:

    def withdraw(self, amount):
        self.balance = self.balance - amount
        if self.balance >= 0:
            return f'{self.name} has {self.balance}.'
        else:
            raise ValueError('Insufficient balance')

    def check(self, other_user, money):
        if other_user.checking_account == False:
            raise ValueError('checking_account = False')
        elif other_user.balance - money < 0:
            raise ValueError('Other user has insufficient funds')
        else:
            self.balance = self.balance + money
            other_user.balance = other_user.balance - money
            return f'{self.name} has {self.balance} and {other_user.name} has {other_user.balance}.'

    def add_cash(self, money):
        self.balance = self.balance + money
        return f'{self.name} has {self.balance}.'

james = User('james', 100, True)
joe = User('joe', 150, True)

#james.withdrawal(1)
#james.check(joe, 500)
#james.add_cash(500)

ValueError: ignored

In [ ]:
#Sleigh Authentication

class Sleigh(object):
    def authenticate(self, name, password):
        if name == 'Santa Claus' and password == 'Ho Ho Ho!':
            return True
        else:
            return False

False

In [ ]:
#Object Oriented Piracy

class Ship:
    def __init__(self, draft, crew):
        self.draft = draft
        self.crew = crew

    #Instance Method:

    def is_worth_it(self):
        crew_draft = self.crew*1.5
        a = crew_draft - float(self.draft)
        if a > 20:
            return True
        else:
            return False

EmptyShip = Ship(0,0)

EmptyShip.is_worth_it()

False

In [ ]:
#Regular Ball Super Ball

class Ball:
    def __init__(self, ball_type = 'regular'):
        self.ball_type = ball_type
        
    
balla = Ball()

balla.ball_type

'regular'

In [ ]:
#Classy Classes

class Person:
    def __init__(self, name, age):
        self.info = f"{name}s age is {str(age)}"

john = Person('john', 34)
john.info

'johns age is 34'

In [ ]:
#Roman Numerals

roman_num = {
        'I': 1,
        'IV': 4,
        'V': 5,
        'IX': 9,
        'X': 10,
        'XL': 40,
        'L': 50,
        'XC': 90,
        'C': 100,
        'CD': 400,
        'D' : 500,
        'CM': 900,
        'M':1000,
        }

annoying_roman_num = {
    'IV': 4,
    'IX': 9,
    'XL': 40,
    'XC': 90,
    'CD': 400,
    'CM': 900,
}

def roman_to_int(s):
    s_new = s
    output_list =[]
    if s in roman_num:
        return roman_num.get(s) 
        
    else:
        for num in annoying_roman_num:
            if num in s:
                output_list.append(annoying_roman_num.get(num))
                s_new = s_new.replace(num, '')    
        for char in s_new:
                output_list.append(roman_num.get(char))
                
    return sum(output_list)

roman_to_int('XLIX')

49

In [ ]:
#Advanced Burger

menu = {
    
    'Hamburger': 250, 
    'Cheese Burger': 300, 
    'Big Mac': 540,
    'McChicken': 350,
    'French Fries': 230,
    'Salad': 15,
    'Coca Cola': 150, 
    'Sprite':150, 
    'Happy Meal': ['Cheese Burger', 'French Fries', 'Coca Cola'],
    'Best Of Big Mac': ['Big Mac', 'French Fries', 'Coca Cola'],
    'Best Of McChicken': ['McChicken', 'Salad', 'Sprite'],

    }

meals = [
    'Happy Meal',
    'Best Of Big Mac',
    'Best Of McChicken'
    ]

def advanced_calories_counter(a):
    
    for ele in a:
        if  ele not in menu:
            return f'{ele} not found'

    newlist = []

    for ele in a:
        if ele in meals:
            b = menu.get(ele)
            for v in b:
              c = menu.get(v)
              newlist.append(c)
        else:
            d = menu.get(ele)
            newlist.append(d)
        
        
    return sum(newlist)


advanced_calories_counter(["Big Mac", "French Fries", "Happy Meal", "Coca Cola"])

1600

In [ ]:
#Simple Burger

menu = {
    'Hamburger': 250, 
    'Cheese Burger': 300, 
    'Big Mac': 540,
    'McChicken': 350,
    'French Fries': 230,
    'Salad': 15,
    'Coca Cola': 150, 
    'Sprite':150
    }

def poor_calories_counter(a, b, c):
    
    if a not in menu:
        return f'{a} not found'
    elif b not in menu:
        return f'{b} not found'
    elif c not in menu:
        return f'{a} not found'
        
    v1 = menu.get(a)
    v2 = menu.get(b)
    v3 = menu.get(c)

    return v1 + v2 + v3


poor_calorie_counter('Hamburger', 'Cheese Burger', 'Big Mac')

1090

In [ ]:
#Multiplication Table

def multiplication_table(size):
    multiplicants = [i+1 for i in range(size)]
    output_list =[]

    for num in multiplicants:
        product = [num*(i) for i in multiplicants]
        output_list.append(product)

    return output_list


multiplication_table(3)

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
#Mexcian Wave

def wave(people):
    s = people
    numlist = [s for char in s]
    nestlist = [list(ele) for ele in numlist]
    output_list = []

    for i, word in enumerate(nestlist):
        if word[i] == " ":
            pass
        else:
            word[i] = word[i].upper()
            output = ''.join(word)
            output_list.append(output)
    return output_list
        
    
wave('two words')

['Two words',
 'tWo words',
 'twO words',
 'two Words',
 'two wOrds',
 'two woRds',
 'two worDs',
 'two wordS']

In [ ]:
#Manhattan Distance

def manhattan_distance(pointA, pointB):
    #abs_pointA = [abs(num) for num in pointA]
    #abs_pointB = [abs(num) for num in pointB]
    
    diffx = abs(abs_pointA[0] - abs_pointB[0])
    diffy = abs(abs_pointA[1] - abs_pointB[1])
    return abs(diffx + diffy)

manhattan_distance([1,1],[0,3])

[0, 3]

3

In [ ]:
#Return a string's even characters.

def even_chars(st):
  if len(st) > 100 or len(st) < 2:
    return 'invalid string'
  new_list = [char for char in st]
  output_list = [ele for i, ele in enumerate(new_list) if i % 2 != 0]
  return output_list
  

even_chars('aBc_e9g*i-k$m')

['B', '_', '9', '*', '-', '$']

In [ ]:
#Shuffle

import random

def manual_shuffle(l):
    li = l.copy()
    output_array =[]
    for i in range(len(li)):
      key = random.choice(li)
      li.remove(key)
      output_array.append(key)
    return output_array


manual_shuffle([1, 2, 3])

[3, 1, 2]

In [ ]:
#Fizz Buzz

def fizz_buzz(num):
    l = [i for i in range(num+1) if i != 0]
    print(l)
    for ele in l:
        if ele % 3 == 0 and ele % 5 != 0:
            l[l.index(ele)] = 'Fizz'
        elif ele % 3 != 0 and ele % 5 == 0:
            l[l.index(ele)] = 'Buzz'
        elif ele % 3 == 0 and ele % 5 == 0:
            l[l.index(ele)] = 'FizzBuzz'
    return l
    

fizz_buzz(50)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'FizzBuzz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'FizzBuzz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'FizzBuzz',
 46,
 47,
 'Fizz',
 49,
 'Buzz']

In [ ]:
#Calculator

import operator

def simple_calculator(op):
    print(op[1])
    operators = {'+', '-','*', '/', '%'}
    if len(op) != 3:
        return 'Please enter valid format: [Operand, Operator, Operand]'
    elif op[1] not in operators:
            return 'Please enter a valid operator [+, -, /, *, % ]'

    calc = [float(ele) for ele in op if ele not in operators] 
    ops = { "+": operator.add, "-": operator.sub, '/': operator.truediv, '*': operator.mul, '%': operator.mod}
    
    return ops[op[1]](calc[0], calc[1])


simple_calculator(['1', '+', '2'])

+

3.0

In [ ]:
#Password Maker

def make_password(s):

    output_list = []

    for char in s:
        if char == 'o' or char == 'O':
            s = s.replace(char, '0')
    for char in s:   
        if char == 'i' or char == 'I':
            s = s.replace(char, '1')
    for char in s:         
        if char == 's' or char == 'S':
            s = s.replace(char, '5')

    s_list = s.split(" ")
    print(s_list)

    for ele in s_list:
        output_list.append(ele[0])
    
    output = ''.join(output_list)
    
    return output

   
make_password('VE jxotxaJYCB SZpR EHXdOX mXwrXVnFEb qoRXxtxzC')

VE jx0txaJYCB 5ZpR EHXd0X mXwrXVnFEb q0RXxtxzC
['VE', 'jx0txaJYCB', '5ZpR', 'EHXd0X', 'mXwrXVnFEb', 'q0RXxtxzC']

'Vj5Emq'

In [ ]:
#Password validator
def password(string):

    num_list = [int(char) for char in string if char.isdigit()]
    upper_list = [str(char) for char in string if char.isupper()]
    lower_list = [str(char) for char in string if char.islower()]
    
    if len(string) >= 8 and len(num_list) >= 1 and len(upper_list) >= 1 and len(lower_list) >= 1:
        return True
    else:
        return False

password('Abcd1234')

True

In [ ]:
#Strip Comments

def strip_comments(strng, markers):
    marker1_index = [i for i, char in enumerate(strng) if char == markers[0]]
    marker2_index = [i for i, char in enumerate(strng) if char == markers[1]]
    marker_index = marker1_index + marker2_index
    linebreak_index = [i for i, char in enumerate(strng) if char == '\n']
    #print(marker1_index)
    #print(marker2_index)
    print(marker_index)
    print(linebreak_index)
    stripped_strng = strng

    list_linebreak = []
    placeholder = ''

    for ele in linebreak_index:
      list_linebreak.append(strng[:ele])

    for ele in marker_index:
      stripped = strng[ele:] 
      #try and specify new line break? perhaps split string before for loop application?
      print(stripped)
      stripped_strng = stripped_strng.replace(strng[ele:])
    
    if min(marker1_index) < min(marker2_index) and min(marker2_index) > min(linebreak_index):
      stripped1 = strng[min(marker1_index): min(linebreak_index)]
      print(stripped1)
      stripped_strng1 = strng.replace(stripped1, '') 
      stripped2 = strng[min(marker2_index):]
      print(stripped2)
      stripped_strng2 = stripped_strng1.replace(stripped2, '')
    return stripped_strng2

strip_comments('apples, pears # and bananas\ngrapes\nbananas !apples', ['#', '!'])

[14, 43]
[27, 34]
# and bananas
grapes
bananas !apples

TypeError: ignored

In [ ]:
#Sum of two lowest positive integers

def sum_two_smallest_numbers(numbers):
    output = []
    num1 = numbers.pop(numbers.index(min(numbers)))
    output.append(num1)
    num2 = numbers.pop(numbers.index(min(numbers)))
    output.append(num2)
    return sum(output)

#or... the better version:

def sum_two_smallest_numbers(numbers):
    numbers.sort()
    return numbers[0] + numbers[1]
    

sum_two_smallest_numbers([5, 8, 12, 18, 22])

13

In [ ]:
#Running out of space

def spacey(array):
    output_list = []
    #print(len(array))
    placeholder = ""
    for i in range(len(array)):
      placeholder += array[i]
      output_list.append(placeholder)
    return output_list

spacey(['kevin', 'has','no','space'])

['kevin', 'kevinhas', 'kevinhasno', 'kevinhasnospace']

In [ ]:
# Testing 1-2-3
def number(lines):
    return [f"{str(index+1)}: {ele}" for index, ele in enumerate(lines)]

number(['a', 'b', 'c'])

['1: a', '2: b', '3: c']

In [ ]:
#Colorful Algorithm (A colourful algorithm )

def is_colorful(num):
    subset = [int(char) for char in str(num)]
    
    if len(subset) == 3:
        subset.append(subset[0]*subset[1])
        subset.append(subset[1]*subset[-1])
        subset.append(subset[0]*subset[1]*subset[2])

    elif len(subset) == 2:
        subset.append(subset[0]*subset[1])

    print(subset)
    for num in subset:
        if subset.count(num) > 1:
            print(num)
            print(subset.count(num))
            return False
    else:
        return True

is_colorful(49)

[4, 9, 36]

True

In [ ]:
#IP Validation
def is_valid_IP(strng):
    if " " in strng or strng == "":
        return False
    for char in strng:
        if char in "abcdefghijklmnopqrstuvwxyz\n" or char == " ":
            return False
    if ".." in strng:
        return False
    a = strng.split(".")
    print(len(a))
    print(a)
    if len(a) < 4 or len(a) > 4:
        return False
    for ele in a:
        if ele == '':
            return False
        elif int(ele) > 255 or int(ele) < 0:
            return False
        elif int(ele) < 100 and int(ele) != 0 and ele[0] == "0":
            return False
        elif int(ele) == 0 and ele != "0":
            return False  
    else:
        return True
is_valid_IP("123.045.067.089")

#Model Answer:

def is_valid_IP(strng):
    if len(strng.split(".")) != 4:
        return False
    
    for group in strng.split("."):
        if not group.isdigit() or group != str(int(group)) or not 0 <= int(group) <= 255:
            return False
    
    return True

4
['123', '045', '067', '089']

False

In [ ]:
#Training on List Filtering
def filter_list(l):
    return [num for num in l if type(num) == int]

filter_list([1,"a",2,"b",3,"c"])

[1, 2, 3]

In [ ]:
# ??? return tdigits backwards in order requires index switch 
def digitize(n):
    list = [int(num) for num in str(n)]
    return sorted(list, reverse=True)

digitize(12345)

[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

In [ ]:
#Persistent Bugger
import numpy as np
def persistence(n):
    if n < 10:
      return 0
    count = 1
    list_digits = [int(char) for char in str(n)]
    # print(np.prod(list_digits))
    while np.prod(list_digits) >= 10:
        count += 1
        n1 = np.prod(list_digits)
        print(n1)
        list_digits = [int(char) for char in str(n1)]
    
    return count

persistence(25)

10

2

In [ ]:
#Remove the minimum

def remove_smallest(numbers):
    if numbers == []:
      return []
    copy = numbers.copy()
    copy.remove(min(numbers))
    return copy

remove_smallest([1, 2, 3, 1, 1])

[2, 3, 1, 1]

In [ ]:
#Dont' give me five! Really!
def dont_give_me_five(start,end):
    return sum('5'not in str(i) for i in range(start, end+1))


dont_give_me_five(595,601)

2

In [ ]:
#Don't give me five!
def dont_give_me_five(start,end):
  list = [i for i in range(start, end+1) if not("5" in str(i))]
  return len(list)

dont_give_me_five(595,601)

2

In [ ]:
# The Supermarket Queue

full_till=[]
final_till_time =[]
def queue_time(customers, n):
  if len(customers) == 0:
    return 0
  elif len(customers) <= n:
    total_number = max(customers)
    return total_number

  elif len(customers) > n:
    for i in range(n):
      full_till.append(customers.pop(i)) 
      customers.remove(customers[i])
    leftovers = len(customers)-len(full_till) 
    for i in range(leftovers):
      full_till[full_till.index(min(full_till))] = customers[i]
      till_val = min(full_till) + customers[i]
      final_till_time.append(till_val)
      
  return print(max(final_till_time))
    
    
    
      
    
    
 # this function below should return 9.  
queue_time([2, 2, 3, 3, 4, 4], 2)

6

In [ ]:
if __name__ == '__main__':
    parent_list = []
    score_list = []
    second_lowest_names =[]
    second_lowest_score = 0
    for i in range(int(input())):
        name = input()
        score = float(input())
        pair_list =[]
        pair_list.append(name)
        pair_list.append(score)
        score_list.append(score)
        #print(pair_list)
        parent_list.append(pair_list)
    #print(parent_list)
    #print(score_list)
    new_score_list = [*set(score_list)]
    #print(new_score_list)
    new_score_list.sort()
    #print(new_score_list)

    for score in new_score_list:
        if score > min(new_score_list) and score == min(new_score_list[1], new_score_list[-1]):
            second_lowest_score = score
    
    for pair in parent_list:
        for element in pair:
            if element == second_lowest_score:
                second_lowest_names.append(pair[0])
    second_lowest_names.sort()
    #print(second_lowest_names)
    for name in second_lowest_names:
        print(name)